<div *ngIf="isLoggedIn()">
    <nav class="navbar navbar-expand-md nav-shadow navbar-light">
        <div class="container-fluid">
            <div class="row">
                <!-- top-nav -->
                <div class="blue-back col-xl-12 col-md-12 col-lg-12 ml-auto fixed-top py-2 top-navbar">
                    <div class="row align-items-center">
                        <div class="col-md-4 mr-auto">
                            <a id="NavMenuBar" class="navbar-brand" (click)="sideMenuOpenClose()"><span
                                    class="navbar-toggler-icon"></span></a>
                            <a class="text-primary col-md-2 " (click)="goBack()"><i
                                    class="fas fa-chevron-left mr-2"></i></a>
                            <a href="#" class="text-dark text-uppercase"><img
                                    src="../assets/Images/MicrosoftTeams-image.png" height="35px" /></a>

                        </div>
                        <div class="col-md-3 parametre">
                            <ul class="navbar-nav">
                                <li class="nav-item ml-md-auto">
                                    <div class="btn-group dropleft text-light">
                                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <img src="../assets/Images/profile.svg" width="40" class="rounded-circle">
                                        </a>
                                        <div class="dropdown-menu">
                                            <a href="#" class="dropdown-item">
                                                <i class="fas fa-user-alt mr-3"></i>Profile</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item" data-toggle="modal"
                                                data-target="#sign-out">
                                                <i class="fas fa-sign-out-alt mr-3"></i>Déconnexion</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end of top-nav -->
            </div>
        </div>
    </nav>


    <!--Modal  /// ///-->
    <div class="modal fade" id="sign-out">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">voulez-vous Déconnecter ?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Appuyez sur Déconnexion
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                    <button (click)="Logout()" type="button" class="btn btn-danger"
                        data-dismiss="modal">Déconnexion</button>
                </div>
            </div>
        </div>
    </div>
    <!--end of Modal-->

    <div id="SideNavID" class="sideNavClose fixed-left mt-5">
        <ul class="navbar-nav flex-column mt-4">
             <li class="nav-item"><a class="nav-menu-item p-2 mb-2" routerLink="clients"><i
                        class="fas fa-users text-light fa-lg mr-3"></i><span class="menuText d-none">Clients</span></a>
            </li><br>
            <li class="nav-item"><a class="nav-menu-item text-light p-2 mb-2" routerLink="projects"><i
                        class="fas fa-project-diagram text-light fa-lg mr-3"></i><span
                        class="menuText d-none">Projets</span></a>
            </li>
            <br>
            <li class="nav-item"><a class="nav-menu-item p-2 mb-2" routerLink="user-list"><i
                        class="fas fa-users-cog text-light fa-lg mr-3"></i><span
                        class="menuText d-none">Utilisateurs</span></a>
            </li><br>
            <li class="nav-item"><a class="nav-menu-item p-2 mb-2" routerLink="CodeStandard"><i
                class="fas fa-file-code text-light fa-lg mr-3"></i><span
                class="menuText d-none">Code standard text</span></a>
            </li><br>
            <div class="parametre2">
                <li class="nav-item"><a class="nav-menu-item p-2 mb-2" href="#"><i
                            class="fas fa-user-alt text-light fa-lg mr-3"></i><span
                            class="menuText d-none">Profile</span></a>
                </li><br>
                <li class="nav-item"><a href="#" class="nav-menu-item p-2 mb-2" data-toggle="modal"
                        data-target="#sign-out"><i class="fas fa-sign-out-alt text-light fa-lg mr-3"></i><span
                            class="menuText d-none">Déconnexion</span>
                    </a>
                </li><br>
            </div>
        </ul>
    </div>
    <div id="ContentOverlayID" class="ContentOverlayClose">
    </div>
</div>
<router-outlet></router-outlet>