<div class="Content">
  <div class="container mt-5">
    <h4 class=""> Utilisateur : {{user.firstname}} {{user.lastname}}</h4>
    <form (ngSubmit)="saveUser()">
      <div class="col-md-12" *ngIf="formSubmitted && !isFormValid()">
        <div class="alert alert-danger fade show" role="alert">
          Le formulaire est invalide. Veuillez vérifier vos saisies.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <button *ngIf="editMode" type="submit" class="float-right btn custom-button btn-sm">
            <i class="fas fa-pencil-alt    "></i>
          </button>
          <button *ngIf="!editMode" type="submit" class="float-right btn custom-button btn-sm">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="card card-body">
        <div class="row">
          <div class="form-group col-md-4">
            <label for="inputFirstName">Prénom :</label>
            <input [(ngModel)]="user.firstname" required type="text" class="form-control" id="firstname"
              name="firstname">
            <div *ngIf="formSubmitted && !user.firstname" class="text-danger">
              Le prénom est requis.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputLastName">Nom :</label>
            <input [(ngModel)]="user.lastname" required type="text" class="form-control" id="inputLastName" name="NOM">
            <div *ngIf="formSubmitted && !user.lastname" class="text-danger">
              Le nom est requis.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputLogin">Username :</label>
            <input [(ngModel)]="user.username" required type="text" class="form-control" id="inputLogin" name="login">
            <div *ngIf="formSubmitted && !user.username" class="text-danger">
              Le nom d'utilisateur est requis.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputNewPassword">Nouveau mot de passe :</label>
            <input [(ngModel)]="newPassword" required type="password" class="form-control" id="inputNewPassword"
              name="newPassword">
            <div *ngIf="formSubmitted && !newPassword" class="text-danger">
              Le nouveau mot de passe est requis.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputConfirmPassword">Confirmation du nouveau mot de passe :</label>
            <input [(ngModel)]="confirmPassword" required type="password" class="form-control" id="inputConfirmPassword"
              name="confirmPassword">
            <div *ngIf="formSubmitted && !confirmPassword" class="text-danger">
              La confirmation du mot de passe est requise.
            </div>
            <div *ngIf="formSubmitted && newPassword !== confirmPassword" class="text-danger">
              Les mots de passe ne correspondent pas.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail">Mail :</label>
            <input [(ngModel)]="user.email" required type="email" class="form-control" id="inputEmail" name="mail">
            <div *ngIf="formSubmitted && !user.email" class="text-danger">
              L'email est requis.
            </div>
            <div *ngIf="formSubmitted && !user.email?.includes('@')" class="text-danger">
              L'email doit être au format valide.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPhone">N° téléphone :</label>
            <input [(ngModel)]="user.phone" required type="tel" class="form-control" id="inputPhone" name="Phone">
            <div *ngIf="formSubmitted && !user.phone" class="text-danger">
              Le numéro de téléphone est requis.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputRole">Rôle :</label>
            <select [(ngModel)]="user.role" required class="form-control" id="inputRole" name="role">
              <option value="Technicien terrain">Technicien terrain</option>
              <option value="Administrateur">Administrateur</option>
              <option value="Gestionnaire activité BO">Gestionnaire activité BO</option>
              <option value="Gestionnaire activité commune">Gestionnaire activité commune</option>
            </select>
            <div *ngIf="formSubmitted && !user.role" class="text-danger">
              Le rôle est requis.
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>