<div class="Content">
  <div class="container mt-5">
    <h2>List des Utilisateurs</h2>
    <div class="float-right">
      <button class="btn custom-button btn-sm mb-2" (click)="navigateToAddUser()"><i class="fas fa-plus"></i></button>
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-inverse table-hover table-sm table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Nom d'utilisateur</th>
            <th>mail</th>
            <th>N° télephone</th>
            <th>Rôle</th>
            <th class="Actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button class="btn custom-button btn-sm mr-1 mb-1" (click)="navigateToEditUser(user.id)">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button class="btn custom-button btn-sm mb-1" (click)="deleteUser(user.id)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>