
<div id="Content" class="Content">
    <div class="container mt-5">
            <h2>Codes Standard</h2>
            <div class="float-right">
                <button class="btn custom-button btn-sm mb-2" data-toggle="modal" data-target="#modelId" (click)="onOpenModalToAdd()"><i class="fas fa-plus"></i> </button>
            </div>
            <div class="table-responsive">
                <table id="ListTable" class="table table-sm table-bordered table-inverse table-hover table-sm table-striped">
                    <thead class="thead-inverse">
                        <tr class="text-center">
                            <th width="10%">Code</th>
                            <th width="62%">Description</th>
                            <th width="10%">Type</th>
                            <th width="8%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let codestandard of CodesStandard">
                            <td class="text-center">{{codestandard.code}}</td>
                            <td>{{codestandard.description}}</td>
                            <td class="text-center">{{codestandard.type}}</td>
                            <td><button class="btn custom-button btn-sm mr-1 mb-1" data-toggle="modal" data-target="#modelId"  (click)="onOpenMdalToUpdate(codestandard)" ><i class="fas fa-pencil-alt"></i> </button>
                                <button class="btn custom-button btn-sm mb-1" (click)="onDelete(codestandard.id)"><i class="fas fa-trash"></i> </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{titlemodel}} {{CurrentCodeStandard.code}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="CodeInput">Code :</label>
                        <input required type="text" [(ngModel)]="CurrentCodeStandard.code" class="form-control" id="CodeInput" name="Code">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TypeCode">Type :</label>
                        <select required name="Type" [(ngModel)]="CurrentCodeStandard.type"  class="form-control" id="TypeCode">
                            <option value="Anomalie">Anomalie</option>
                            <option value="Etat anomalie">Etat anomalie</option>
                            <option value="Type ouvrage hydraulique">Type ouvrage hydraulique</option>
                            <option value="Etat ouvrage hydraulique">Etat ouvrage hydraulique</option>
                            <option value="Aménagement proposé – Ouvrage hydraulique">Aménagement proposé – Ouvrage hydraulique</option>
                            <option value="Aménagement proposé – Corps de la chaussée">Aménagement proposé – Corps de la chaussée</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="inputDescription">Description : </label>
                        <textarea [(ngModel)]="CurrentCodeStandard.description"  class="form-control" id="inputDescription" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" *ngIf="buttonType" (click)="onAdd()" class="btn custom-button btn-sm mb-2">Ajouter</button>
                <button data-dismiss="modal" type="submit" *ngIf="!buttonType" (click)="onUpdate()" class="btn custom-button btn-sm mb-2">Modifier</button>
            </div>
        </div>
    </div>
</div>